{% extends "base.html" %}
{% load static %}
{% block title %}- Reviews{% endblock %}

{% block content %}
<section class="allreviews min-vh-100">
    <div class="container">
        <h1 class="text-white text-center mb-4"><span>Cinema</span> | <span>Go</span> Reviews</h1>
        <div class="row mb-5">
            {% if review_content %}
            {% for review in review_content %}
            <div class="col-12 py-3 px-2">
                <div class="card text-white">
                    <div class="card-body hero-image"
                        style="background-image: url('{{ review.hero }}'); background-position: center center; background-size: cover;">
                        <div class="row">
                            <div class="col-4 d-flex justify-content-start">
                                <a href="{% url 'profile' review.review.user.username %}"><img src="
                                    {{ review.review.user.profile.profile_image.url }}"
                                        alt="{{ review.review.user.profile.user.username }} Profile Image"
                                        class="rounded-circle review-img"></a>
                            </div>
                            <div class="col-8 d-flex justify-content-end">
                                <div class="d-flex flex-column">
                                    <p class="justify-content-end">{{ review.review.created_on }}</p>
                                    <p class="justify-content-end"><span>Review by:
                                        </span><a href="{% url 'profile' review.review.user.username %}"
                                            aria-label="{{ review.review.user.profile.user.username }} Profile Page"
                                            class="text-white">{{ review.review.user.username }}</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <a href="{% url 'moviedetails' review.movie_data.id %}">
                                    <h2>{{ review.review.movie }}</h2>
                                </a>
                                <p class="card-text">{{ review.review.review|safe }}</p>
                                <p><span>Rated: </span>{{ review.review.rating|safe }}/10</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4 my-2 d-flex flex-wrap">
                                {% if user.is_authenticated and user == review.review.user %}
                                <a class="site-btn flex-grow-1"
                                    href="{% url 'edit_review'  review.movie_data.id review.review.id %}">Edit
                                    Review</a>
                                {% endif %}
                                {% if user.is_authenticated %}
                                <a href="{% url 'moviedetails' review.movie_data.id %}"
                                    class="site-btn flex-grow-1">View
                                    Movie</a>
                                <a href="{% url 'comment' review.movie_data.id review.review.id %}"
                                    class="site-btn flex-grow-1">Comment</a>
                                {% endif %}
                            </div>
                        </div>
                        {% if review.review.comments.exists %}
                        <div class="row">
                            <div class="col-12 mt-3">
                                <h3><span>Comments</span></h3>
                                <hr>
                                {% for comment in review.review.comments.all %}
                                <p><i>{{ comment.body|safe }}</i></p>
                                {% if user == comment.name%}
                                <div class="comment-a">
                                    <a href="{% url 'edit_comment' review.movie_data.id review.review.id comment.id %}"
                                        aria-label="Edit Comment"><i class="fa-solid fa-pen-to-square"></i> Edit</a>
                                    <a href="{% url 'delete_comment' review.movie_data.id review.review.id comment.id %}"
                                        aria-label="Edit Comment"><i class="fa-solid fa-trash"></i> Delete</a>
                                </div>
                                {% endif %}
                                <p class="mt-3">{{ comment.created_on }}</p>
                                <p class="justify-content-end"><span>Comment by: </span><a
                                        href="{% url 'profile' comment.name.username %}"
                                        aria-label="{{ comment.name.username }} Profile Page"
                                        class="text-white">{{ comment.name.username }}</a>
                                </p>
                                <hr>
                                {% endfor %}
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
            {% else %}
            <div class="col-12 text-white text-center">
                <h2 class="text-white">There are currently no Reviews, maybe you could be the first <i
                        class="fa-regular fa-face-smile"></i>
                </h2>
            </div>
            {% endif %}
        </div>
    </div>
</section>

<!-- Review JS -->
<script src="{% static 'javascript/review.js' %}"></script>
{% endblock %}