{% extends "base.html" %}
{% load static %}
{% block title %}- Create Review{% endblock %}
{% block content %}
<section class="review" style="background-image: url('{{hero}}');">
    <div class="opaque-overlay">&nbsp;</div>
    <div class="container">
        <div class="row justify-content-center py-5">
            <div class="col-12 col-lg-8 text-white">
                <div class="card bg-trans text-white p-3">
                    <h1 class="mb-3 text-center text-white"><span>{{ movie.Name }}</span></h1>
                    <h2 class="text-center"><span>Review by: </span>{{user.username}}</h2>
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.media }}
                        {{ form|crispy}}
                        <div class="row justify-content-center mt-4">
                            <div class="col-12 col-lg-6 d-flex flex-wrap">
                                <button class="flex-grow-1 site-btn" type="submit">Update</button>
                                <button type="button" id="exampleModalLabel" class="flex-grow-1 site-btn"
                                    data-bs-toggle="modal" data-bs-target="#exampleModal">
                                    Delete
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="delete-review">
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content delete text-white">
                <div class="modal-body">
                    {% if user.is_authenticated and user == review.user %}
                    <form method="post" action="{% url 'delete_review' movie_id=movie.MovieId review_id=review.id %}"
                        role="form">
                        {% csrf_token %}
                        <h2 class="mb-3 text-white"><span>Delete</span> Review
                        </h2>
                        <p><i><strong><span>{{ review.user }}</span> are you sure you want to Delete this
                                    review?</strong></i></p>
                        <p>This review will be permanently removed and you will not be able
                            to retrieve it.</p>
                        <button type="submit" name="action" value="delete" class="site-btn">Delete</button>
                    </form>
                    {% else %}
                    <h3>You are not authorized to delete this review.</h3>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}