{% extends "account/base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<section>
    <div class="container">
        <div class="row justify-content-center text-white">
            <div class="col-lg-6 col-md-10">
                <h1 class="auth-h1 text-center">
                    {% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h1>

                {% if token_fail %}
                {% url 'account_reset_password' as passwd_reset_url %}
                <p class="mb-3 text-center">{% blocktrans %}The password reset link was invalid, possibly because it has
                    already
                    been used.
                    Please request a new password reset below</p>
                <div class="row">
                    <div class="col-12 d-flex">
                        <a href="{{ passwd_reset_url }}" class="btn-round flex-grow-1">Password Reset</a>
                    </div>
                </div>
                {% endblocktrans %}
                {% else %}
                <form method="POST" action="{{ action_url }}" class="form">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <div class="row">
                        <div class="col-12 d-flex">
                            <input type="submit" name="action" class="btn-round flex-grow-1"
                                value="{% trans 'Change Password' %}" />
                        </div>
                    </div>
                </form>
                {% endif %}
            </div>
        </div>
    </div>
</section>
{% endblock %}