{% extends "account/base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<section>
    <div class="container">
        <div class="row justify-content-center text-white text-center">
            <div class="col-lg-6 col-md-10">
                <h1 class="auth-h1">{% trans "Change Password" %}</h1>
                <p class="mb-5">{% trans 'Your password is now changed.' %}</p>
                <a href="{% url 'home' %}" class="btn-round">Home <i class="fa-solid fa-house"></i></a>
            </div>
        </div>
    </div>
</section>
{% endblock %}