{% extends "base.html" %}

{% block content %}
<div class="container">
    <section class="about">
        <div class="row">
            <div class="col-lg-4">
                <h1>Welcome to <span>Cinema</span> | <span>Go</span></h1>
                <p><i>Like the Cinema? Love Movies?</i></p>
                <p>Here at <span><strong>Cinema</strong></span> | <span><strong>Go</strong></span> we want to bring
                    Movie lovers together to discuss the
                    latest blockbusters and
                    review the Movies you have seen. Once signed-up you will be able to search for a Movie you like and
                    provide your thoughts on it. You can check out other reviews too on Movies you where thinking of
                    going too see and provide feedback via our comment section.</p>
                <div class="row">
                    <div class="col">
                        <button class="btn btn-warning">Sign-Up</button>
                        <button class="btn btn-warning">Reviews</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 d-none d-sm-block">
                <img src="https://res.cloudinary.com/seanf316/image/upload/v1676124888/pngfind.com-movie-png-485365_lnggko.png"
                    width="100%" height="400px" alt="">
            </div>
        </div>
    </section>
</div>
{% endblock%}