{% extends "base.html" %}

{% block content %}
<section class="about">
    <div class="container">
        <div class="row d-flex flex-wrap-reverse">
            <div class="col-lg-5 text-center">
                <h1>Welcome to <span>Cinema</span> | <span>Go</span></h1>
                <p class="text-center"><i>Like the Cinema? Love Movies?</i></p>
                <p>Here at <span><strong>Cinema</strong></span> | <span><strong>Go</strong></span> we want to bring
                    Movie lovers together to discuss the
                    latest blockbusters and
                    review the Movies you have seen. Once signed-up you will be able to search for a Movie you like and
                    provide your thoughts on it. You can check out other reviews too on Movies you where thinking of
                    going too see and provide feedback via our comment section. Sign up below to get started....</p>
                <button class="btn">SIGN UP</button>
            </div>
            <div class="col-lg-7">
                <img src="https://res.cloudinary.com/seanf316/image/upload/v1676237278/pngfind.com-movie-png-485365_riaxjl.png"
                    width="100%" alt="">
            </div>
        </div>
    </div>
</section>
{% endblock%}