{% extends "base.html" %}

{% block content %}
<section class="profile min-vh-100">
    <div class="opaque-overlay">&nbsp;</div>
    <div class="container">
        <div class="row justify-content-center mt-5">
            <div class="col-12">
                <div class="card bg-trans text-white">
                    <div class="row gx-0">
                        <div class="col-lg-4 col-md-4">
                            <img src="{{ profile.profile_image.url }}" class="rounded-circle prof-img" alt="...">
                        </div>
                        <div class="col-md-8 d-flex flex-column justify-content-center">
                            <div class="card-body">
                                <h1 class="mb-3 text-white"><span>Cinema</span> | <span>Go</span> Profile
                                </h1>
                                <p><span>Username: </span>{{ profile.user.username }}</p>
                                <p><span>Name: </span>{{ profile.firstname }} {{ profile.surname }}</p>
                                <p><span>About: <br></span>{{ profile.about|safe }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

</section>
{% endblock %}