@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

/* Global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root {
    --main-color: #edb304;
    --light-color: white;
    --dark-color: black;
    --accent-color: #071157;
}

h1 {
    font-size: 3rem;
    font-weight: bold;
}

/* Navbar */

i.fa-solid.fa-bars {
    color: var(--main-color);
    font-size: 1.5rem;
}

.navbar-brand span {
    color: var(--main-color);
}

.nav-link {
    color: var(--light-color);
}

a.nav-link.active {
    color: var(--light-color);
    text-decoration: underline;
    text-underline-offset: 5px;
    text-decoration-color: var(--main-color);
}

a.nav-link:hover {
    color: var(--main-color);
}

/* About */

.about {
    margin-top: 6rem;
}

.about span {
    color: var(--main-color);
}