@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

/* Global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root {
    --main-color: #eda704;
    --light-color: white;
    --dark-color: black;
}

a {
    text-decoration: none;
}

ul li {
    list-style: none;
}

h1 {
    font-size: 3rem;
    font-weight: bold;
}

header {
    height: 4rem;
}

/* Navbar */

i.fa-solid.fa-bars {
    color: var(--main-color);
    font-size: 1.5rem;
}

.navbar-brand {
    font-size: 1.2rem;
    font-weight: 700;
}

.navbar-brand span {
    color: var(--main-color);
}

.nav-link {
    color: var(--light-color);
}

a.nav-link.active {
    color: var(--light-color);
    text-decoration: underline;
    text-underline-offset: 5px;
    text-decoration-color: var(--main-color);
}

a.nav-link:hover {
    color: var(--main-color);
}

/* About */

.about {
    height: 80vh;
}

.about h1 {
    padding: 0 1rem;
    font-size: 2rem;
}

.about span {
    color: var(--main-color);
}

.about p {
    text-align: justify;
}

.about a {
    background-color: var(--main-color);
    border: 2px solid var(--dark-color);
    border-radius: .2rem;
    padding: .5rem 3rem;
    font-weight: 600;
    color: var(--dark-color);
}

.about a:hover {
    background-color: var(--light-color);
    border: 2px solid var(--main-color);
}

/* Footer */
footer {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--light-color);
}

.social-networks {
    display: flex;
    margin: 1rem 0;
    gap: 2rem;
    padding: 0;
}

.social-networks i {
    font-size: 1.2rem;
    color: var(--light-color);
    border: 2px solid var(--main-color);
    width: 35px;
    height: 35px;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
}

.social-networks i:hover,
.social-networks i:focus {
    color: var(--dark-color);
    border: 2px solid var(--light-color);
    background-color: var(--main-color);
}

.devloped-text {
    font-size: 1rem;
    color: var(--light-color);
    text-align: center;
}

.devloped-text i {
    font-size: 1.2rem;
    color: var(--light-color);
}

i.fa-brands.fa-github:hover,
i.fa-brands.fa-github:focus {
    color: var(--main-color);
}

/* Allauth */

.log-in {
    height: 80vh;
}


/* Media queries */
@media screen and (min-width: 576px) {

    .about h1 {
        font-size: 3rem;
    }
}