{% load static %}
<!-- Footer -->
<footer class="fixed-bottom bg-black">
    <ul class="social-networks">
        <li class="social-networks-item">
            <a class="social-networks-link" href="https://facebook.com" target="_blank" rel="noopener"
                aria-label="Visit our Facebook page (opens in a new tab)"><i class="fa-brands fa-facebook-f"></i></a>
        </li>
        <li class="social-networks-item">
            <a class="social-networks-link" href="https://twitter.com" target="_blank" rel="noopener"
                aria-label="Visit our Twitter page (opens in a new tab)"><i class="fa-brands fa-twitter"></i></a>
        </li>
        <li class="social-networks-item">
            <a class="social-networks-link" href="https://instagram.com" target="_blank" rel="noopener"
                aria-label="Visit our Instagram page (opens in a new tab)"><i class="fa-brands fa-instagram"></i></a>
        </li>
    </ul>
    <p class="devloped-text"><i class="fa-regular fa-copyright"></i> Sean Finn <a
            href="https://github.com/seanf316/P2-Movie-Buff-Or-Bluff" target="_blank" rel="noopener"
            aria-label="Visit my Github Repo (opens in a new tab)"><i class="fa-brands fa-github"></i></a></p>
</footer>