{% load static %}
<header>
    <!-- Navbar Start -->
    <nav class="navbar fixed-top navbar-expand-md navbar-dark bg-black">
        <div class="container-fluid">
            <!-- Nav Logo Start -->
            <a class="navbar-brand text-white" href="{% url 'home' %}"><span>Cinema</span> | <span>Go</span></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <i class="fa-solid fa-bars"></i>
            </button>
            <!-- Nav Logo End -->
            <!-- Nav Items Start -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link {% if request.resolver_match.url_name == 'home' %}active{% endif %}"
                            aria-current="page" href="{% url 'home' %}">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Movies
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'search' %}">Movie Search</a>
                            </li>
                            <li><a class="dropdown-item" href="{% url 'trending' %}">Trending</a>
                            </li>
                            <li><a class="dropdown-item" href="{% url 'toprated' %}">Top Rated</a></li>
                        </ul>
                    </li>
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link {% if request.resolver_match.url_name == 'allreviews' %}active{% endif %}"
                            href="{% url 'allreviews' %}">Reviews</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.resolver_match.url_name == 'profile' %}active{% endif %}"
                            href="{% url 'profile' user.username %}">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.resolver_match.url_name == 'account_logout' %}active{% endif %}"
                            href="{% url 'account_logout' %}">Logout</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link {% if request.resolver_match.url_name == 'account_signup' %}active{% endif %}"
                            href="{% url 'account_signup' %}">Sign Up</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.resolver_match.url_name == 'account_login' %}active{% endif %}"
                            href="{% url 'account_login' %}">Login</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
            <!-- Nav Items End -->
        </div>
    </nav>
    <!-- Navbar End -->
</header>