{% load static %}
<header>
    {% load active_link_tags %}
    <!-- Navbar -->
    <nav class="navbar fixed-top navbar-expand-md navbar-dark bg-black">
        <div class="container-fluid">
            <!-- Nav Logo -->
            <a class="navbar-brand text-white" href="{% url 'home' %}"><span>Cinema</span> | <span>Go</span></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <i class="fa-solid fa-bars"></i>
            </button>
            <!-- Nav Items -->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link {% active_link 'home' 'current' strict=True %}" aria-current="page"
                            href="{% url 'home' %}">Home</a>
                    </li>
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="#">Profile</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Movies
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'search' %}">Movie Search</a>
                            </li>
                            <li><a class="dropdown-item" href="{% url 'trending' %}">Trending</a>
                            </li>
                            <li><a class="dropdown-item" href="{% url 'toprated' %}">Top Rated</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Reviews</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% active_link 'account_logout' 'current' %}"
                            href="{% url 'account_logout' %}">Logout</a>
                    </li>
                    {% else %}
                    <li class="nav-item">
                        <a class="nav-link {% active_link 'account_signup' 'current' %}"
                            href="{% url 'account_signup' %}">Sign Up</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% active_link 'account_login' 'current' %}"
                            href="{% url 'account_login' %}">Login</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
</header>