{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="movie, review, cinema, theater, blockbuster">
    <meta name="description" content="Cinema-Go is the site for your latest Movie reviews">
    {% block css %}
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <!-- Import css -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% endblock %}
    <!-- Javascript files -->
    {% block postload_js %}
    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous">
    </script>
    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/e4bf4f6321.js" crossorigin="anonymous"></script>
    {% endblock %}
    <title>Cinema-Go</title>
</head>

<body class="d-flex flex-column min-vh-100 back-color">
    <!-- Header -->
    {% include 'includes/nav.html' %}

    {% if messages %}
    <!-- messages -->
    <div class="alert toast {{ message.tags }} alert-dismissible fade show" id="msg" role="alert">
        <div class="container">
            <div class="row">
                {% for message in messages %}
                <div class="col-12 mx-auto d-flex justify-content-center">
                    {{ message | safe}}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endif %}

    <main>
        {% block content %}
        <!-- Content Goes here -->
        {% endblock content %}
    </main>

    <!-- Footer -->
    {% include 'includes/footer.html' %}

    {% block extra_js %}
    <script>
        setTimeout(function () {
            let messages = document.getElementById("msg");
            let alert = new bootstrap.Alert(messages);
            alert.close();
        }, 2000);

        var modal = document.getElementById('exampleModal');
        var iframe = document.getElementById('trailer');

        modal.addEventListener('hide.bs.modal', function (event) {
            if (event.target === modal) {
                iframe.src = iframe.src;
            }
        });
    </script>
    {% endblock %}
</body>

</html>