{% extends "base.html" %}

{% block content %}
<section class="movie-details min-vh-100" style="background-image: url('{{hero}}');">
    <div class="opaque-overlay">&nbsp;</div>
    <div class="container">
        <div class="row justify-content-center mt-5">
            <div class="col-12 d-none d-lg-block">
                <div class="card bg-trans text-white">
                    <div class="row g-0">
                        <div class="col-4">
                            {% if movie_data.poster_path %}
                            <img src="https://image.tmdb.org/t/p/w1280/{{ movie_data.poster_path }}"
                                class="img-fluid rounded-start" alt="...">
                            {% else %}
                            <img src="https://res.cloudinary.com/seanf316/image/upload/v1677179557/Cinema-Go/no_poster_uqgcl9.webp"
                                width="100%" alt="">
                            {% endif %}
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                {% if movie_data.original_title %}
                                <h1 class="m-title">{{ movie_data.original_title }}</h1>
                                {% endif %}
                                {% if movie_data.overview %}
                                <p class="overview">{{ movie_data.overview }}</p>
                                {% endif %}
                                {% if director_name %}
                                <p class="card-text"><span>Director: </span>{{ director_name }}</p>
                                {% endif %}
                                {% if movie_data.runtime %}
                                <p class="card-text"><span>Runtime: </span>{{ movie_data.runtime }} min</p>
                                {% endif %}
                                {% if movie_data.release_date %}
                                <p class="card-text"><span>Released:
                                    </span>{{ movie_data.release_date|slice:":4"}}</p>
                                {% endif %}
                                {% if trailer %}
                                <button type="button" class="site-btn flex-grow-1" data-bs-toggle="modal"
                                    data-bs-target="#exampleModal">
                                    Trailer <i class="fa-solid fa-play"></i>
                                </button>
                                {% endif %}
                                {% if movie_data.imdb_id %}
                                <a class="site-btn flex-grow-1"
                                    href="https://www.imdb.com/title/{{ movie_data.imdb_id }}" target="_blank">IMDb</a>
                                {% endif %}
                                {% if to_watch == False %}
                                <a href="{% url 'watchlist' movie_data.id %}" class="site-btn flex-grow-1">
                                    Add to Watchlist +
                                </a>
                                {% else %}
                                <a href="{% url 'watchlist' movie_data.id %}" class="site-btn flex-grow-1">
                                    Remove from Watchlist -
                                </a>
                                {% endif %}
                                {% if review_exists == True %}
                                <a href="#" class="site-btn flex-grow-1">
                                    Reviewed <i class="fa-solid fa-check"></i>
                                </a>
                                {% else %}
                                <a href="{% url 'review' movie_data.id %}" class="site-btn flex-grow-1">
                                    Review <i class="fa-solid fa-magnifying-glass"></i>
                                </a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Mobile View -->
        <div class="col-12 d-lg-none my-5">
            <div class="card bg-trans text-white">
                {% if movie_data.backdrop_path %}
                <img src="https://image.tmdb.org/t/p/w1280/{{ movie_data.backdrop_path }}" class="card-img-top"
                    alt="...">
                {% else %}
                <img src="https://res.cloudinary.com/seanf316/image/upload/v1677179557/Cinema-Go/no_backdrop_ptm59z.webp"
                    height="180" alt="">
                {% endif %}
                <div class="card-body">
                    {% if movie_data.original_title %}
                    <h1 class="m-title">{{ movie_data.original_title }}</h1>
                    {% endif %}
                    {% if movie_data.overview %}
                    <p class="overview">{{ movie_data.overview }}</p>
                    {% endif %}
                    {% if director_name %}
                    <p class="card-text"><span>Director: </span>{{ director_name }}</p>
                    {% endif %}
                    {% if movie_data.runtime %}
                    <p class="card-text"><span>Runtime: </span>{{ movie_data.runtime }} min</p>
                    {% endif %}
                    {% if movie_data.release_date %}
                    <p class="card-text"><span>Released:
                        </span>{{ movie_data.release_date|slice:":4"}}</p>
                    {% endif %}
                    <div class="row">
                        <div class="col d-flex flex-wrap">
                            {% if trailer %}
                            <button type="button" class="site-btn flex-grow-1" data-bs-toggle="modal"
                                data-bs-target="#exampleModal">
                                Trailer <i class="fa-solid fa-play"></i>
                            </button>
                            {% endif %}
                            {% if movie_data.imdb_id %}
                            <a class="site-btn flex-grow-1 text-center"
                                href="https://www.imdb.com/title/{{ movie_data.imdb_id }}" target="_blank">IMDb</a>
                            {% endif %}
                            {% if to_watch == False %}
                            <a href="{% url 'watchlist' movie_data.id %}" class="site-btn flex-grow-1">
                                Add to Watchlist +
                            </a>
                            {% else %}
                            <a href="{% url 'watchlist' movie_data.id %}" class="site-btn flex-grow-1">
                                Remove from Watchlist -
                            </a>
                            {% endif %}
                            {% if review_exists == True %}
                            <a href="#" class="site-btn flex-grow-1">
                                Reviewed <i class="fa-solid fa-check"></i>
                            </a>
                            {% else %}
                            <a href="{% url 'review' movie_data.id %}" class="site-btn flex-grow-1">
                                Review <i class="fa-solid fa-magnifying-glass"></i>
                            </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Reviews -->
        {% if review_exists == True %}
        <div class="col-12 my-3">
            <div class="card bg-transparent text-center mb-3 border-0">
                <h2 class="reviews-title">Reviews</h2>
            </div>
            {% for review in reviews %}
            <div class="card bg-trans mb-3 text-white">
                <div class="card-body">
                    <div class="row gx-0">
                        <div class="col-4 d-flex justify-content-start">
                            <img src="{{ review.user.profile.profile_image.url }}" alt=""
                                class="rounded-circle review-img">
                        </div>
                        <div class="col-8 d-flex justify-content-end">
                            <div class="d-flex flex-column">
                                <p class="justify-content-end">{{ review.created_on }}</p>
                                <p class="justify-content-end"><span>Review by: </span>{{ review.user.username }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <p class="mx-3">{{ review.review|safe }}</p>
                            <p><span>Rated: </span>{{ review.rating|safe }}/10</p>
                            {% if user.is_authenticated and user == review.user %}
                            <div class="row">
                                <div class="col-12 col-lg-2 d-flex flex-wrap my-2">
                                    <a class="site-btn flex-grow-1"
                                        href="{% url 'edit_review'  movie_data.id review.id %}">Edit
                                        Review</a>
                                </div>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% endif %}
        </div>
    </div>
    </div>

    <!-- Trailer Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-md modal-lg modal-xl flex-column justify-content-center">
            <div class="modal-content transparent border-0">
                <button type="button" class="mb-3 mx-auto modal-btn" data-bs-dismiss="modal"
                    aria-label="Close">Close</button>
                <iframe id="trailer" title="Trailer" src="https://www.youtube.com/embed/{{ trailer }}?modestbranding=1"
                    class="rounded-lg" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen
                    style="border: 2px solid var(--main-color); border-radius: .5rem;"></iframe>
            </div>
        </div>
    </div>
</section>

{% endblock %}