{% extends "base.html" %}

{% block content %}
<section class="movie-details min-vh-100" style="background-image: url('{{hero}}');">
    <div class="opaque-overlay">&nbsp;</div>
    <div class="container">
        <div class="row justify-content-center mt-5">
            <div class="col-12 d-none d-lg-block">
                <div class="card bg-trans text-white">
                    <div class="row g-0">
                        <div class="col-4">
                            {% if movie_data.poster_path %}
                            <img src="https://image.tmdb.org/t/p/w1280/{{ movie_data.poster_path }}"
                                class="img-fluid rounded-start" alt="...">
                            {% else %}
                            <img src="https://res.cloudinary.com/seanf316/image/upload/v1676856077/no_poster_eh3lli.jpg"
                                width="100%" alt="">
                            {% endif %}
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                {% if movie_data.original_title %}
                                <h1 class="m-title">{{ movie_data.original_title }}</h1>
                                {% endif %}
                                {% if movie_data.overview %}
                                <p class="overview">{{ movie_data.overview }}</p>
                                {% endif %}
                                {% if movie_data.director_name %}
                                <p class="card-text"><span>Director: </span>{{ director_name }}</p>
                                {% endif %}
                                {% if movie_data.runtime %}
                                <p class="card-text"><span>Runtime: </span>{{ movie_data.runtime }} min</p>
                                {% endif %}
                                {% if movie_data.release_date %}
                                <p class="card-text"><span>Released:
                                    </span>{{ movie_data.release_date|slice:":4"}}</p>
                                {% endif %}
                                {% if trailer %}
                                <button type="button" class="site-btn flex-grow-1" data-bs-toggle="modal"
                                    data-bs-target="#exampleModal">
                                    Trailer <i class="fa-solid fa-play"></i>
                                </button>
                                {% endif %}
                                {% if movie_data.imdb_id %}
                                <a class="site-btn flex-grow-1"
                                    href="https://www.imdb.com/title/{{ movie_data.imdb_id }}" target="_blank">IMDb</a>
                                {% endif %}
                                <button type="button" class="site-btn flex-grow-1">
                                    Review <i class="fa-solid fa-magnifying-glass"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Mobile View -->
        <div class="col-12 d-lg-none my-5">
            <div class="card bg-trans text-white">
                {% if movie_data.backdrop_path %}
                <img src="https://image.tmdb.org/t/p/w1280/{{ movie_data.backdrop_path }}" class="card-img-top"
                    alt="...">
                {% else %}
                <img src="https://res.cloudinary.com/seanf316/image/upload/v1676857549/wp8923971_qd2bfr.jpg"
                    height="180" alt="">
                {% endif %}
                <div class="card-body">
                    {% if movie_data.original_title %}
                    <h1 class="m-title">{{ movie_data.original_title }}</h1>
                    {% endif %}
                    {% if movie_data.overview %}
                    <p class="overview">{{ movie_data.overview }}</p>
                    {% endif %}
                    {% if movie_data.director_name %}
                    <p class="card-text"><span>Director: </span>{{ director_name }}</p>
                    {% endif %}
                    {% if movie_data.runtime %}
                    <p class="card-text"><span>Runtime: </span>{{ movie_data.runtime }} min</p>
                    {% endif %}
                    {% if movie_data.release_date %}
                    <p class="card-text"><span>Released:
                        </span>{{ movie_data.release_date|slice:":4"}}</p>
                    {% endif %}
                    <div class="row">
                        <div class="col d-flex flex-wrap">
                            {% if trailer %}
                            <button type="button" class="site-btn flex-grow-1" data-bs-toggle="modal"
                                data-bs-target="#exampleModal">
                                Trailer <i class="fa-solid fa-play"></i>
                            </button>
                            {% endif %}
                            {% if movie_data.imdb_id %}
                            <a class="site-btn flex-grow-1 text-center"
                                href="https://www.imdb.com/title/{{ movie_data.imdb_id }}" target="_blank">IMDb</a>
                            {% endif %}
                            <button type="button" class="site-btn flex-grow-1">
                                Review <i class="fa-solid fa-magnifying-glass"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

    <!-- Trailer Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-md modal-lg modal-xl flex-column justify-content-center">
            <div class="modal-content transparent border-0">
                <button type="button" class="mb-3 mx-auto modal-btn" data-bs-dismiss="modal"
                    aria-label="Close">Close</button>
                <iframe id="trailer" title="Trailer" src="https://www.youtube.com/embed/{{ trailer }}?modestbranding=1"
                    class="rounded-lg" frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen
                    style="border: 2px solid var(--main-color); border-radius: .5rem;"></iframe>
            </div>
        </div>
    </div>
</section>
{% endblock %}