{% extends "base.html" %}
{% block title %}- Search Results{% endblock %}
{% block content %}
<section class="search-results">
    <div class="container">
        <div class="row pb-5">
            <a href="{% url 'searchresults' query=query %}">
                <h1 class="auth-h1 text-center">Results: {{ query }}</h1>
            </a>
            {% if movie_data.results %}
            {% for movie in movie_data.results %}
            {% if forloop.counter0 < 12 %}
            <div class="col-12 col-md-4 col-lg-3 gx-4 gy-4">
                <div class="card text-center">
                    {% if movie.backdrop_path %}
                    <img src="https://image.tmdb.org/t/p/w500/{{ movie.backdrop_path }}" class="card-img-top"
                        height="180px" alt="...">
                    {% else %}
                    <img src="https://res.cloudinary.com/seanf316/image/upload/v1676857549/wp8923971_qd2bfr.jpg"
                        height="180" alt="">
                    {% endif %}
                    <div class="card-body d-flex flex-column bg-black text-white" style="height: 10rem;">
                        {% if movie.original_title %}
                        <h5 class="card-title mt-3" style="font-size: 1em;">{{ movie.original_title }}
                            {% if movie.release_date %} ({{ movie.release_date|slice:":4"}}) {% endif %}</h5>
                        {% endif %}
                        <a href="{% url 'moviedetails' movie.id %}" class="site-btn mt-auto">Learn More</a>
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}
            <div class="row text-center">
                <div class="col text-center mt-5">
                    {% if prev_page %}
                    <a class="btn-round" href="{% url 'searchresults_page' page_number=prev_page query=query %}"><i
                            class="fa-solid fa-circle-chevron-left"></i> Prev</a>
                    {% endif %}
                    {% if next_page %}
                    <a class="btn-round" href="{% url 'searchresults_page' page_number=next_page query=query %}">Next <i
                            class="fa-solid fa-circle-chevron-right"></i></a>
                    {% endif %}
                </div>
            </div>
            {% else %}
            <div class="col-12 text-white text-center">
                <h2 class="text-white my-5">There are currently no results for {{ query }}.
                </h2>
                <a class="btn-round" href="{% url 'search' %}">Back to Movie Search</a>
            </div>
            {% endif %}
        </div>
</section>
{% endblock%}