{% extends "base.html" %}

{% block content %}
<section class="upcoming">
    <div class="container">
        <div class="row pb-5">
            <a href="{% url 'toprated' %}">
                <h1 class="auth-h1 text-center">Top Rated</h1>
            </a>
            {% for movie in movie_data.results %}
            <div class="col-md-4 col-6 col-lg-2 gx-4 gy-4">
                <div class="card medium">
                    <div class="card-image">
                        <a href=""><img class="card-img-top"
                                src="https://image.tmdb.org/t/p/w400/{{ movie.poster_path }}" height="300px" alt=""></a>
                    </div>
                </div>
            </div>
            {% endfor %}
            <div class="row">
                <div class="col text-center mt-5">
                    <a class="load-more" href="{% url 'pagination' page_number %}">Load More</a>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock%}